section {
    width: 83%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section h2 {
    color: #ea786f;
}

section span {
    color: #c5c4c4;
}

.text-box {
    width: 15%;
}

.image-box {
    width: 65%;
}

.image-box img {
    width: 100%;
}

.text-box p {
    font-weight: bold;
    font-size: 18px;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}



@media (max-width: 600px) {
    section {
        width: 90%;
        margin: auto; 
        margin-top: 40px;
        flex-direction: column;
    }

    .text-box {
        width: 90%;
        text-align: center;
    }
    
    .image-box {
        width: 90%;
    }

    .right {
        float: none;
        flex-direction: column-reverse;
    }

    .main-nav-links {
        display: none;
    }
}